#bandeau {
    width: 100%;
    background-color: lightblue;
    height: 100px;
    margin-top: 10px;
    margin-bottom: -21px;
}

#contenu {
    background-color: orange; 
    height: 800px;
}

#foot {
    background-color: greenyellow;
    margin-bottom: 10px;
    height: 100px;
    margin-top: -22px;
}