#bandeau {
    width: 100%;
    background-color: lightblue;
    height: 100px;
    margin-top: 10px;
    margin-bottom: -21px;
    text-align: center;
}

#contenu {
   
    background-color: orange; 
    height: 800px;
    text-align: center;
}
#menu_haut{
        background-color: blueviolet;
        width: 15%;
        height: 389px;
        position: absolute;
        margin-top: -18px;
        transform: translate(0%, 100%); 
    }

#menu_bas{
        background-color: rgb(126, 219, 184);
        width: 15%;
        height: 389px;
        position: absolute;
        margin-top: -18px;
}
#bloc-news{
    background-color: crimson;
    width: 250px;
    height: 276px;
    margin-top: -18px;
    position: absolute;
    transform: translate(653%, 0%);
}
#foot {
    background-color: greenyellow;
    margin-bottom: 10px;
    height: 100px;
    margin-top: -22px;
    text-align: center;
    transform: translate(0%, 0%); 
}